<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2" style="padding-top: 10px;">
	<tr>
		<td valign="top" align="center">
			<table width="551" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="left" bgcolor="#ffffff" style="border:1px solid #9c9c9c; padding:5px;">
						<div style="border:7px solid #424242;">
							<table width="525" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td style="padding:25px 20px 20px 20px;">
										<table width="485" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><h3>retaste.me for <%= @user.name %></h3></td>
												<td align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#acabab;">week <%= Date.today.cweek %> in <%= Date.today.year %></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding:0px 20px 0px 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; line-height:20px;">
                    <% @links.each do |link| -%>
  										<p style="margin:0; padding: 0; font-size:18px; color:#0165ab;"><a href="<%= link.url %>" style="color:#0165ab;"><%= link.title %></a></p>
  										<p style="text-style: italic;">Bookmarked on <%= link.time.to_time.to_s(:email) %></p>
  										<p style="margin:0 0 25px 0;">
  											<strong>Tags:</strong>
                        <%= link.tags.join(', ') %>
  										</p>
  									<% end -%>
									</td>
								</tr>
								<tr>
									<td style="border-top:1px solid #d6d6d6; background-color:#f6f6f6; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:17px;  padding:15px 0 15px 20px;">
										<b>Ladislav Martincik</b><br>
                    retaste.me - Weekly delicous menu<br>
										<a href="mailto:ladislav.martincik@retaste.me" style="color:#4089bb;">ladislav.martincik@retaste.me</a><br>
										<a href="http://retaste.me" style="color:#4089bb;">retaste.me</a><br /><br />
										You can find this report also online at <%= link_to report_url(:week => Date.today.cweek, :year => Date.today.year), report_url(:week => Date.today.cweek, :year => Date.today.year) %>
									</td>
								</tr>
							</table>

						</div>
					</td>
				</tr>
				<tr>
					<td align="left" style="padding:20px 0 10px 10px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#888888;">
						To ensure our newsletter always reaches your inbox, please add <a href="mailto:ladislav.martincik@retaste.me" style="color:#545454;">ladislav.martincik@retaste.me</a> to your<br>
						address book. If you prefer not to receive news from Your Company Name in the future, you can<br>
						<a href="http://retaste.me" style="color:#545454;">unsubscribe here</a>.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>