<tr>
  <th>&nbsp;</th>
  <td class="left" style="width: 100%;">
    <h1><%=t 'view.profile.title' %></h1>
  </td>
</tr>

<tr>
  <th><label for="user_username" class="mandatory"><%=t 'view.profile.username' %></label><span class="help">Your user name</span></th>
  <td><%= f.text_field :username, :class => 'field' %></td>
  <td class="helper" rowspan="4">
    <%=raw t('common.mandatory_fields') %>
  </td>
</tr>

<tr>
  <th><label for="user_name"><%=t 'common.name' %></label></th>
  <td><%= f.text_field :name, :class => 'field' %><span class="help">It's optional, but will make your emails more personal.</span></td>
</tr>

<tr>
  <th><label for="user_email" class="mandatory"><%=t 'common.email' %></label><span class="help">Valid email</span></th>
  <td><%= f.text_field :email, :class => 'field' %><span class="help">To this address we'll sent your weekly emails.</span></td>
</tr>