<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" debug="true">
<head>
  <title>retaste.me - Weekly del.icio.us menu</title>
  
  <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="robots" content="all" />
  
  <link rel="shortcut icon" href="/images/favicon.ico">
  
  <%= stylesheet_link_tag 'all' %>
  
  <script type="text/javascript" src="http://use.typekit.com/eac6oiv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script src="/javascripts/jquery-1.4.1.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
  <script src="/javascripts/jrails.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.timers-1.2.js" type="text/javascript"></script>
  
  <script src="/javascripts/application.js" type="text/javascript"></script>
</head>

<body id="retasteme">
  <%- flash.each do |name, msg| -%>
  <div id="flash_<%= name %>"><%= msg %></div>
  <%- end -%>
  
  <div id="container">
  
    <div id="topbar" class="clearfix">
      <div id="info">
        <%= link_to 'retaste.me', root_path %>
      </div>
      <div id="account-info">
        <span>No <i>registration</i> just &rarr;</span><%=raw RPXNow.popup_code('Login &raquo;', 'retasteme', rpx_token_url, :html => { :class => 'awesome small' }) %>
      </div>
    </div>
  
    <div id="content" class="clearfix">
  
      <div id="main">
        
        <div id="main-content">
          <%= yield %>
        </div>
  
      </div>
      
      <div id="footer">
        Copyright &copy; 2010 Ladislav Martinčík (<a href="http://twitter.com/martincik">@martincik</a>) - <a href="http:/martincik.com">martincik.com</a><br />
        ~
        <br />
        Logo icon from <a href="http://www.iconeden.com/icon/yummy-free-icons.html">Yummy icon set</a> by <a href="http://www.iconeden.com">IconEden</a>.<br />
        Sign in process by <a href="http://rpxnow.com">RPXNow</a>.<br />
        Fonts from <a href="http://typekit.com">Typekit</a>.
      </div>
      
    </div>
  
  </div>
</body>
</html>